.day-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkgray ;
    align-items: center;
    
}

.weather-symbol{
    max-width: 60%;
}

.day-degree-part {
    display: flex;   
    align-items: center;
}

.day-name-container {
    font-size: initial;
}