.present-weather-component {
    /* border-radius: 15px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.present-weather-symbol{
    max-width: 50%;
}

.present-weather-temperature {
    font-size: 300%;
    max-width: 70%;
}

.present-weather-type {
    font-size: 300%;
}
