.present-weather-component {
    /* border-radius: 15px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.present-weather-symbol{
    width: 50%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
}

.present-weather-temperature {
    font-size: 3vw;
    max-width: 70%;
}

.present-weather-type {
    font-size: 3vw;
}
