html, body, #root {
  height: 100%;
}

.weather-components-container {

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 25% 75%;
  margin: 7px;
  grid-gap: 7px;
  height: 70%;
}

.present-weather-component {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.five-day-forecast-title {
  grid-column: 4 / 9;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.corner {
  border-radius: 7px;
}