

.weather-components-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.days-container-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.five-day-forecast-title {
  margin-bottom: 20px;
  display: flex;
  background-color: darkgray;
  border-radius: 15px;
  height: auto;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 500%;
}



